body {
  background-image: url("../AboutMe-Bootstrap/assets/Images/woodbackground.jpg");
  background-color: #b3b3cc;
  width: 100%;
}


.container {
  position: relative;
  border: 1px solid black;
  background-color: white;
  width: 70%;
  height: 100%;
  margin: 10px;
  padding: 10px;
}

.highlight {
  background-color: #aa80ff;
  color: black;
  font-size: 30px;
}





/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}
 
/* mouse over link*/
a:hover {
  color: #aa80ff
}


/* footer */
footer {
  position: absolute;
  background-color: #b3b3cc;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 7px solid rgb(176, 106, 255);
  margin-top: 30px;
}

